/CAFFAdapterClient/CAFFAdapterClient/Infrastructure/Data/Migrations/20211129115325_Initialv2.cs
/CAFFAdapterClient/CAFFAdapterClient/Infrastructure/Data/Migrations/AppModelDbContextModelSnapshot.cs
/CAFFAdapterClient/CAFFAdapterClient/Infrastructure/Data/Migrations/AppModelDbContextModelSnapshot.cs
