<h2 mat-dialog-title>Edit profile</h2>
<div mat-dialog-content class="form_container">
    <form [formGroup]="editProfileFormGroup" class="form_container">
        <mat-form-field appearance="outline">
            <mat-label>Firstname</mat-label>
            <input matInput required
            type="text" formControlName="firstName">
            <mat-error *ngIf="editProfileFormGroup.get('firstName')?.hasError('required')">
                Firstname is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Lastname</mat-label>
            <input matInput required
            type="text" formControlName="lastName">
            <mat-error *ngIf="editProfileFormGroup.get('lastName')?.hasError('required')">
                Lastname is <strong>required</strong>
            </mat-error>
        </mat-form-field>        
    </form>   
</div>
<div mat-dialog-actions class="button_container">
  <button mat-raised-button color="secondary" (click)="onNoClick()" cdkFocusInitial>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" [disabled]="editProfileFormGroup.invalid">Save</button>
</div>