<h1 mat-dialog-title>Change password</h1>
<div mat-dialog-content>
    <form [formGroup]="changePasswordForm" class="form_container">
        <mat-form-field appearance="outline">
            <mat-label>Old password</mat-label>
            <input matInput required
            type="password" formControlName="oldPassword">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>New password</mat-label>
            <input matInput type="password" formControlName="newPassword">
            <mat-error *ngIf="changePasswordForm.get('newPassword')?.invalid" [innerHtml]="getErrorMessage()"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm new password</mat-label>
            <input matInput required
            type="password" formControlName="newPasswordConfirm">
            <mat-error *ngIf="changePasswordForm.get('newPasswordConfirm')?.invalid">Passwords <strong>do not match.</strong></mat-error>
        </mat-form-field>
    </form>      
</div>
<div mat-dialog-actions class="button_container">
  <button mat-raised-button color="secondary" (click)="onNoClick()" cdkFocusInitial>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!changePasswordForm.valid" [mat-dialog-close]="data">Save</button>
</div>