<div class="main_container">
    <div class="data_container">
        <p>Email: {{email}}</p>
        <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
    </div>
    <div class="add_image_button_container">
        <button mat-raised-button color="accent" (click)="uploadCaffFile()"><mat-icon>add</mat-icon>Upload CAFF file</button>
    </div>
    <div class="gif">
        <ng-container *ngFor="let gif of gifs">

            <div class="gif_container">
                <img [src]="gif.file" alt="this slowpoke moves" width="360" />
                <div class="content">
                    <div class="button_container">
                        <button mat-raised-button color="primary" (click)="seeComments()">See comments</button>
                    </div>
                    <div class="icon_container">
                        <button mat-icon-button (click)="deleteCaffFile()">
                            <mat-icon aria-hidden="false" class="icon-display" aria-label="Example home icon">delete</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon aria-hidden="false" class="icon-display" aria-label="Example home icon">file_download</mat-icon>
                        </button>                        
                    </div>
                </div>
            </div>
    
        </ng-container>
    </div>
</div>