<div class="main_container">
    <div class="data_container">
        <div class="profile_data_container">
            <p>Firstname: <strong>{{firstname}}</strong></p>
            <p>Lastname: <strong>{{lastname}}</strong></p>
            <p style="margin-bottom: 0;">Email: <strong>{{email}}</strong></p>
        </div>        
        <div class="change_data_container">
            <button mat-button color="primary" (click)="editProfile()"><mat-icon style="margin-right: 5px;">edit</mat-icon>Edit profile</button>
            <button mat-raised-button color="primary" (click)="changePassword()">Change password</button>
        </div>        
    </div>
    <div class="add_image_button_container">
        <button mat-raised-button (click)="uploadCaffFile()"><mat-icon>add</mat-icon>Upload CAFF file</button>
    </div>
    <div style="width: 100%;">
        <app-loading [isLoading]="isLoading"></app-loading>
    </div>    
    <div class="gif">        
        <ng-container *ngFor="let gif of gifs">
            <div class="gif_container">
                <div class="description">                   
                    <div class="details">
                        <i>{{gif.description}}</i>
                    </div>   
                    <div class="edit_button">
                        <button mat-fab color="primary" (click)="editDescription(gif)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>                 
                </div>
                <img [src]="gif.file" alt="this slowpoke moves" width="360px" />
                <div class="content">
                    <div class="button_container">
                        <button mat-button color="primary" (click)="seeComments()">Comments</button>
                    </div>
                    <div class="icon_container">
                        <button mat-icon-button (click)="deleteCaffFile()">
                            <mat-icon aria-hidden="false" class="icon-display" aria-label="Example home icon">delete</mat-icon>
                        </button>
                        <button mat-icon-button (click)="downloadCaffFile()">
                            <mat-icon aria-hidden="false" class="icon-display" aria-label="Example home icon">file_download</mat-icon>
                        </button>                        
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>