<h2 mat-dialog-title>Comments</h2>
<div mat-dialog-content class="form_container">
  <div style="border: 1px dashed black; width: 100%; height: 300px">

  </div>
  <div class="comment_container">
        
  </div>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput>
    <button mat-icon-button matSuffix><mat-icon>send</mat-icon></button>
  </mat-form-field>
  
</div>
<div mat-dialog-actions class="button_container">
  <button mat-raised-button color="secondary" (click)="onNoClick()" cdkFocusInitial>Cancel</button>
</div>