<h2 mat-dialog-title>Upload CAFF file</h2>
<div mat-dialog-content class="form_container">
    <input type="file"/>
    <button mat-button color="primary" style="margin-top: 20px;">Preview</button>
    <div class="preview_container">
        <img [src]="defaultImage" width="100%">
    </div>
</div>
<div mat-dialog-actions class="button_container">
  <button mat-raised-button color="secondary" (click)="onNoClick()" cdkFocusInitial>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data">Upload</button>
</div>